{{define "stats"}}
<div class="visit-stats-wrapper">
  <h2>Here is your visit statistics:</h2>
  <p class="visit-stat">Index Page{{.}}</p>
  <p class="visit-stat">About Page{{.}}</p>
  <p class="visit-stat">Contact Page{{.}}</p>
</div>
{{end}}