<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    <h2>Year: {{.AcaYear}}</h2>
    <div>
    <h3>{{.Fall.Term}}</h3>
    {{range .Fall.Courses}}
    <li>
        <span>{{.Number}}</span>
        <span>{{.Name}}</span>
        <span>{{.Units}}</span>
    </li>
    {{end}}
    </div>
    <div>
    <h3>{{.Spring.Term}}</h3>
    {{range .Spring.Courses}}
    <li>
        <span>{{.Number}}</span>
        <span>{{.Name}}</span>
        <span>{{.Units}}</span>
    </li>
    {{end}}
    </div>
{{end}}

</body>
</html>