<!DOCTYPE html>
<html>
<head>
  <title>Jon Mon</title>
</head>

<body>
  <div>
    <h1>Welcome to the Jon Mon App</h1>
    <h3>You are visitor number {{.}}<h3>
  </div>
  <h2>You are at the HOME page</h2>
  <ul>
    <p><a href="/dog">Dog</a></p>
    <p><a href="/me">Me</a></p>
  </ul>
  <div>
</body>
</html>